<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Deployer</title>
</head>

<body>
<div style="background-color: #f5f5f5;font-family: verdana;font-size: 12px;color: #555555; line-height: 14pt; max-width: 680px">
    <div style="padding: 20px;border-bottom: 1px solid #ddd"><a href="https://play.google.com/apps/publish/"><img
            alt="Google Play Deployer"
            src="https://keygenqt.com/images/index/deployer_mail.png" style="border:none; width: 214px; height: 36px;"/></a>
    </div>
    <div style="padding: 20px">Hello,
        <div style="margin: 10px 0"><p>Your update to <span th:text="${projectName}"></span>, created on <span
                th:text="${date}"></span>
            store.</p>
            <div style="border: 1px solid #ddd; margin-bottom: 15px; background-color: white;">
                <div style="color: black; padding: 10px 15px 15px 10px;">
                    <table>
                        <tr>
                            <td>
                                <p style="font-size: 12px;">
                                    <b><span th:text="${projectName}"></span></b>
                                    <br>
                                    <span style="color: #999999;"><span th:text="${applicationId}"></span>
                                        <br>
                                        (code: <span th:text="${versionCode}"></span>, name: <span
                                                th:text="${versionName}"></span>)</span>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>