<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Deployer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body onload="refresh();">
<div class="container">
    <div class="media">
        <a href="/">
            <img th:src="@{/images/icon.png}" style="width: 40px;" class="mr-3" alt="Deployer">
        </a>
    </div>
    <br>

    <div th:if="${error != '' && error != null}">
        <div class="alert alert-danger" role="alert">
            <span th:text="${error}"></span>
        </div>
    </div>

    <div th:if="${success != '' && success != null}">
        <div class="alert alert-success" role="alert">
            <span th:text="${success}"></span>
        </div>
    </div>

    <div class="jumbotron">
        <h1 class="display-4">Deployer</h1>
        <p class="lead">Deployer is a tool for deploy android application to google play and generation CHANGELOG.md
            with history.</p>
        <hr class="my-4">

        <script>function refresh() {}</script>

        <div th:if="${token != '' && email == null}">
            <p>Generate token...</p>
            <img th:src="@{/images/load.gif}" style="width: 40px;" class="mr-3" alt="Deployer">

            <script>
                function refresh() {
                    setTimeout(function () {
                        location.reload()
                    }, 1000);
                }
            </script>

        </div>
        <div th:if= "${token == ''}">
            <p>For update token click to button</p>
            <a class="btn btn-primary btn-lg" href="/oauth" role="button">Update</a>
        </div>
        <div th:if="${email != '' && email != null}">
            <p>
                <img th:src="${picture}" style="width: 40px;" class="rounded" alt="...">
            </p>
            <p><span th:text="${name}"></span> your token status:</p>
            <h5><span class="badge badge-success"><span>Success</span></span></h5>
            <br>
            <hr>
            <br>
            <div>
                <p>To check the token, you can send an email</p>
                <a class="btn btn-primary btn-lg" th:href="@{'/check/?id=' + ${id}}" role="button">Check</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>